[Desktop Entry]
Name=OpenShot 2.0
GenericName=Video Editor
X-GNOME-FullName=OpenShot 2.0
Comment=Create and edit videos and movies
Exec=launch-openshot %F
Terminal=false
Type=Application
Icon=openshot
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.openshot-qt-project;
X-AppInstall-Package=openshot-qt
