[Desktop Entry]
Name=Flowcut
GenericName=Video Editor
X-GNOME-FullName=Flowcut
Comment=Create and edit amazing videos and movies
Exec=flowcut %F
Terminal=false
Type=Application
Icon=flowcut
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.flowcut-project;application/vnd.openshot-qt-project;
X-AppInstall-Package=flowcut
