<!DOCTYPE html>
<html ng-app="openshot-timeline">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>OpenShot Timeline</title>
		<link type="text/css" href="media/css/ui-darkness/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="media/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="media/js/jquery-ui-1.10.2.custom.js"></script>
		<script type="text/javascript" src="media/js/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="js/functions.js"></script>
    	<script type="text/javascript" src="js/controllers.js"></script>
    	<script type="text/javascript" src="js/directives.js"></script>
		<script type="text/javascript" src="media/js/debug.js"></script>
		<script type="text/javascript" src="media/js/ui-bootstrap-tpls-0.7.0.min.js"></script>
		<link rel="stylesheet" type="text/css" href="media/css/bootstrap.min.css">
		<link type="text/css" href="media/css/main.css" rel="stylesheet" />
		<link type="text/css" href="media/css/debug.css" rel="stylesheet" />
	</head>
	<body  tl-body ng-controller="TimelineCtrl">
		
		<!-- RULER -->
		<div id="ruler_label">
			<div id="ruler_time">{{playheadTime}}</div>
		</div>
		<div id="scrolling_ruler">
			<canvas tl-ruler id="ruler" width="{{project.duration * pixelsPerSecond}}px" height="39px"></canvas>
			<div class="playhead_box" style="width:{{project.duration * pixelsPerSecond}}px;">
				<div tl-playhead style="left:{{(project.playhead_position * pixelsPerSecond) + playheadOffset}}px;position:absolute;">
					<div class="playhead-top"></div>				
				</div>
			</div>
 		</div>
 		<div class="cleared"></div>
 		
 		<!-- PROGRESS BAR -->
		<div id="progress_container">
			<canvas tl-progress id="progress" width="{{project.duration * pixelsPerSecond}}px" height="5px"></canvas>
		</div>

		<!-- TRACKS -->
		<div id="track_controls">
			<div ng-repeat="layer in project.layers" id="track_static_{{layer.number}}" class="track_name"><div class="track_label">Track {{layer.number}}</div></div>
			<br>
		</div>
		<div tl-scrollable-tracks id="scrolling_tracks">
			<div tl-multi-selectable>
				<div tl-track  ng-repeat="layer in project.layers" id="track_{{layer.number}}" class="track" style="width:{{project.duration * pixelsPerSecond}}px;">
					<div tl-clip ng-repeat="clip in project.clips | filter:filterByLayer(layer)" id="clip_{{clip.id}}" class="clip" style="width:{{ (clip.end - clip.start) * pixelsPerSecond}}px;left:{{clip.position * pixelsPerSecond}}px;">
						<div class="clip_top">
							<div tl-clip-menu class="clip_menu"></div>
							<div class="clip_effects" id="effects_{{clip.id}}" ng-show="clip.effects.length" tooltip="Effects Applied" tooltip-placement="right" tooltip-trigger='mouseenter' >
								{{clip.effects.length}} 
							</div>
							<!--<span class="clip_effects" id="effects_{{clip.id}}" ng-show="clip.effects.length">
								<img ng-repeat="effect in clip.effects" id="effect_{{clip.id}}_{{$index}}" class="effect_icon" ng-src="media/images/effects/{{effect.icon}}"/>
							</span>-->
							<div class="clip_label">{{clip.title}}</div>
							<br class="cleared">
						</div>
						<br class="cleared">
						<div ng-show="{{!clip.show_audio}}" class="thumb-container">
							<img class="thumb thumb-start" ng-src="{{ clip.image }}"/>
							<!--img class="thumb thumb-end" ng-src="media/images/clip_images/{{clip.images.end}}.png"/-->
						</div>
						<div ng-show="{{clip.show_audio}}" class="audio-container">
							<canvas tl-audio height="46px" width="{{ (clip.end - clip.start) * pixelsPerSecond}}px;left:{{clip.position * pixelsPerSecond}}px" class="audio"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div tl-playline class="playhead-line"></div>
		
		<!-- DEBUG SECTION -->
		<script language="javascript">
			
		</script>
		<div style="display: none;">
			<a id="toggle_debug" href="#" style="color:#fff;">DATA +</a>
			<br>
			<div class="debug-window ui-corner-all" style="display:none;">
				<div class="debug-text ui-corner-all">
					TRACK DATA: <pre>{{tracks | json}}</pre>
					<br><br>
					MARKER DATA: <pre>{{markers | json}}</pre>
				</div>
				<div class="debug-text ui-corner-all">CLIPS DATA: <pre>{{clips | json}}</pre></div>
				<div class="debug-text ui-corner-all">PROJECT DATA: <pre>pixels per second: {{pixelsPerSecond}} <br> playhead offset: {{playheadOffset}} <br> {{project | json}}</pre></div>
				<div class="debug-text ui-corner-all">ACTIONS:<br><br>
					<div>
						<p>Add Clips:</p>	
						<input type="text" name="numClips" ng-model="numClips" size="5" style="width:100px;" placeholder="# of clips"/>
    					<button ng-click="addClips(numClips)">add clips</button> <br/>
    				
    				<div style="height:1px;background-color:#cfcfcf;margin:15px;"></div>
    				<div>
    					<p>Scale:</p>	
    					<input id="scaleVal" ng-model="project.scale" style="width:100px;">
    					<div db-slider></div>
    				</div>
    				<div style="height:1px;background-color:#cfcfcf;margin:15px;"></div>
    				<div>
						<p>Add Marker:</p>	
						<input type="text" name="markLoc" ng-model="markLoc" size="5" style="width:100px;" placeholder="loc of marker"/>
    					<button ng-click="addMarker(markLoc)">add marker</button> <br/>
    				</div>
    				<div style="height:1px;background-color:#cfcfcf;margin:15px;"></div>
					<div>
						<p>Add Effect:</p>	
						<input type="text" name="clipNum" ng-model="clipNum" size="5" style="width:100px;" placeholder="clip #"/>
    					<button ng-click="addEffect(clipNum)">add effect</button> <br/>
    				</div>
    				<div style="height:1px;background-color:#cfcfcf;margin:15px;"></div>
					<div>
						<p>Change clip image:</p>	
						<input type="text" name="startImage" ng-model="startImage" size="5" style="width:100px;" placeholder="start clip for #3"/>
    					<button ng-click="changeImage(startImage)">change img</button> <br/>
    				</div>
				</div>
				<div class="cleared"></div>
			</div>
		</div>
		<!-- END DEBUG SECTION -->
	</body>
</html>


