# A CODEOWNERS file indicates to GitHub which committer(s) should be
# considered the owners of specific files/subtrees within the repo.
# Owners will be automatically review-requested on any PR that changes
# files they own.

/.github/ @ferdnyc

/.gitlab-ci.yml @ferdnyc
/.gitignore @ferdnyc

/.editorconfig @ferdnyc

/docs/*.py @ferdnyc
/docs/*.txt @ferdnyc
/doc/*.py @ferdnyc
/doc/*.txt @ferdnyc

