# Run in default virtualenv, but with access to Python packages
# installed by apt
language: python
virtualenv:
  system_site_packages: true
addons:
  apt:
    sources:
    - sourceline: 'ppa:openshot.developers/ppa'
    packages: &p_common
    - libopenshot-audio-dev
    - libopenshot-dev
    - libssl-dev
    - python3-openshot
    - python3-pip
    - python3-setuptools
    - python3-pyqt5
    - python3-pyqt5.qtsvg
    - python3-pyqt5.qtwebkit
    - python3-requests
    - python3-xdg
    - python3-zmq
    - qttranslations5-l10n
    - xvfb

jobs:
  include:
    - name: "Python 3.5 (Ubuntu 16.04 Xenial)"
      os: linux
      dist: xenial
      python: 3.5
    - name: "Python 3.6 (Ubuntu 18.04 Bionic)"
      os: linux
      dist: bionic
      python: 3.6
    - name: "Python 3.8 (Ubuntu 20.04 Focal)"
      os: linux
      dist: focal
      python: 3.8

install:
  - pip3 install 'cx-freeze==6.1'

script:
  - python3 freeze.py build
  - xvfb-run --auto-servernum --server-num=1 --server-args "-screen 0 1920x1080x24" python3 src/tests/query_tests.py

notifications:
  email: true

env:
  global:
  - TRAVIS_LIBOPENSHOT=TEST
  - LANG="en_US.UTF-8"
