language: python
dist: trusty

before_install:
  - sudo add-apt-repository ppa:openshot.developers/libopenshot-daily -y
  - sudo apt-get update -qq
  - sudo apt-get install gcc-4.8 xvfb tar cmake libopenshot-dev libopenshot-audio-dev libunittest++-dev swig doxygen doxypy libssl-dev python3 python3-dev python3-pip python3-pyqt5 python3-setuptools python3-openshot python3-pyqt5 python3-pyqt5.qtmultimedia python3-pyqt5.qtopengl python3-pyqt5.qtsvg python3-pyqt5.qtwebkit python3-requests python3-xdg python3-zmq qttranslations5-l10n -y
  - sudo apt autoremove -y
  - wget https://files.pythonhosted.org/packages/d0/6d/9492644452727094543575de9846af5a2b9c764f760e2d414af7c876618c/cx_Freeze-5.0.1.tar.gz
  - tar xf cx_Freeze-5.0.1.tar.gz
  - cd cx_Freeze-5.0.1; python3 setup.py build; python3 setup.py install
  - pwd

script:
  - python3 freeze.py build
  - xvfb-run --auto-servernum --server-num=1 --server-args "-screen 0 1920x1080x24"python3 src/tests/query_tests.py

notifications:
  email: true

env:
  global:
  - TRAVIS_LIBOPENSHOT=TEST
  - LANG="en_US.UTF-8"