include AUTHORS
include COPYING
include README
recursive-include bin *
recursive-include doc *
recursive-include src *
recursive-include xdg *

global-exclude *pyc
global-exclude .project
global-exclude .pydevproject