html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(25, 25, 25, 1)),
      color-stop(100%, rgba(53, 53, 53, 1)));
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  /* prevent document scrollbars (the timeline handles it's own overflow) */
  -webkit-user-select: none;
  line-height: 10px;
}

/* General */
.cleared {
  height: 0;
  clear: both;
}

/* selected and dragging items */
.clip.ui-draggable-dragging {
  z-index: 7000 !important;
}

/* selected and dragging items */
.transition.ui-draggable-dragging {
  z-index: 8000 !important;
}

/* manually moving selected item */
.manual-move {
  z-index: 8000 !important;
}

/* selection box during drag */
.ui-selectable-helper {
  position: absolute;
  z-index: 9998 !important;
  border: 1px solid #2a82da;
  background-color: #2a82da;
  opacity: 0.4;
}

img {
  max-width: none;
}

/* Menu icons for tracks, clips, and transitions */
.menu_button {
  cursor: pointer;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  background-image: url(../images/menu.png);
}

.menu_button:hover {
  background-image: url(../images/menu_hover.png);
}

/* Ruler */
#scrolling_ruler {
  overflow: hidden;
  position: relative;
  line-height: 4px;
}

#scrolling_tracks {
  height: 316px;
  overflow: scroll;
  position: relative;
}

#ruler_label {
  height: 39px;
  width: 140px;
  float: left;
  margin-bottom: 4px;
}

#ruler_ticks {
  background-color: #000;
}

#ruler_time {
  font-size: 13pt;
  color: #c8c8c8;
  padding-top: 14px;
  padding-left: 17px;
}

#progress_container {
  margin-left: 140px;
  overflow: hidden;
  height: 13px;
}

.drag_cursor {
  cursor: move;
}

/* Tracks */
/* Common styling for track containers */
.track_name, .track {
  width: 100%;
  height: 64px;
  margin-bottom: 8px;
  box-shadow: 0 0 10px #000;
  box-sizing: border-box;
}

/* Left-column track labels/controls/etc. */
#track_controls {
  width: 140px;
  position: relative;
  float: left;
  height: 316px;
  overflow: hidden;
}

.track_top {
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(255, 255, 255, 0.20)),
      color-stop(100%, rgba(255, 255, 255, 0)));
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.track_lock {
  float: left;
  background-image: url(../images/lock.png);
  width: 14px;
  height: 14px;
  margin-top: 2px;
}

.track_label {
  padding-top: 2px;
  padding-left: 2px;
  padding-left: 4px;
  text-shadow: 0 0 10px #fff;
}

.track_name {
  color: #fff;
  font-size: 9pt;
  margin-left: 5px;
  background-color: #000;
  border: 1px solid #4b92ad;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Right-column track timeline container */
.track {
  background-color: rgba(6, 6, 6, 1);
  border-top: 1px solid #4b92ad;
  border-bottom: 1px solid #4b92ad;
  border-right: 1px solid #4b92ad;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.track.disabled {
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(20, 20, 20, 1)),
      color-stop(100%, rgba(6, 6, 6, 1)));
}

.track.enabled {
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(50, 50, 50, 1)),
      color-stop(100%, rgba(6, 6, 6, 1)));
}

/* Playhead */
.playhead-line {
  z-index: 9998;
  position: absolute;
  height: 316px;
  top: 0;
  margin-left: 12px;
  width: 1px;
  background-color: #ff0024;
  opacity: 1;
}

.playhead-line-small {
  z-index: 9999;
  position: absolute;
  height: 20px;
  top: 32px;
  margin-left: 12px;
  width: 1px;
  background-color: #ff0024;
  opacity: 1;
}

.playhead-top {
  cursor: move;
  z-index: 9999;
  position: absolute;
  margin-left: 0;
  margin-top: 12px;
  width: 25px;
  height: 32px;
  background-image: url(../images/play_head.png);
  opacity: 1;
}

.marker {
  position: absolute;
  top: 30px;
}

/* Clips */
.clip_top {
  display: -webkit-flex;
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(255, 255, 255, 0.20)),
      color-stop(100%, rgba(255, 255, 255, 0)));
  border-radius: 8px;
  overflow: hidden;
}

.clip_top:hover {
  overflow: visible;
  z-index: 9000;
}

.clip_border {
  display: block;
  position: absolute;
  /* Subtract combined L+R border widths */
  width: calc(100% - 4px);
  /* Subtract combined T+B border heights */
  height: calc(100% - 2px);
  border-radius: 8px;
  border: 1px solid #ffffff00;
  border-left-width: 2px;
  border-right-width: 2px;
}

.clip_label {
  cursor: move;
  min-width: 0;
  float: left;
  margin-left: 2px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clip_effects {
  cursor: pointer;
  opacity: 0.7;
  display: inline-block;
  border: 1px solid #000;
  text-align: center;
  min-width: 12px;
  font-size: 0.8em;
  padding: 1px;
  padding-top: 2px;
  font-weight: bold;
  margin-right: 2px;
  margin-top: 2px;
  background: rgba(54, 25, 25, 0.2);
  overflow: hidden;
  line-height: 11px;
  height: 11px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.clip_effects:hover {
  opacity: 1.0;
  border-color: #dfdfdf;
}

.effect_icon {
  margin-left: 1px;
  margin-right: 1px;
}

.clip {
  cursor: move;
  z-index: 1000;
  color: #fff;
  min-width: 0;
  height: 64px;
  position: absolute;
  margin-top: 0;
  left: 100px;
  font-size: 9pt;
  background: #ef7f00;  /* fallback */
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(82, 82, 82, 1)),
      color-stop(100%, rgba(34, 38, 40, 1)));
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.thumb {
  margin-left: 5px;
  width: 66px;
  height: 38px;
}

.thumb-start {
  float: left;
}

.thumb-end {
  float: right;
}

.audio {
  height: 46px;
}

.effect-container {
  white-space: nowrap;
  height: 20px;
  float: left;
  border-radius: 8px;
  padding: 0 1px;
}

.effect-container:hover {
  background-color: #7c7979;
  z-index: 9000;
}

.thumb-container {
  margin-top: -20px;
  overflow: hidden;
}

.audio-container {
  display: none;
  margin-top: -20px;
  height: 46px;
  overflow: hidden;
  margin-left: -2px;
}

/* Keyframes */
.point_region {
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 10px;
  margin-left: -7px;
}

.point_icon {
  width: 1px;
  height: 6px;
  margin: 0 4px;
  background:
    -webkit-gradient(linear, left top, left bottom,
      color-stop(40%, rgba(0, 255, 0, 1)),
      color-stop(100%, rgba(0, 255, 0, 0)));
}

/* Transitions */
.transition_top {
  background:
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%, rgba(255, 255, 255, 0.75)),
      color-stop(100%, rgba(255, 255, 255, 0)));
  border-radius: 8px;
  overflow: hidden;
}

.transition_border {
  display: block;
  position: absolute;
  /* Subtract combined L+R border widths */
  width: calc(100% - 4px);
  /* Subtract combined T+B border heights */
  height: calc(100% - 2px);
  border-radius: 8px;
  border: 1px solid #0192c1;
  border-left-width: 2px;
  border-right-width: 2px;
}

.transition {
  cursor: move;
  z-index: 5000;
  color: #fff;
  min-width: 0;
  height: 64px;
  position: absolute;
  margin-top: 0;
  left: 100px;
  font-size: 9pt;
  background-color: rgba(#0192c1, 0.5);
  background: -webkit-linear-gradient(top, #0192c1 0%, #3fa1bf 100%);
  border-radius: 8px;
  background-image: url(../images/transition.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 66px;
  opacity: 0.75;
  box-shadow: 0 0 10px #000;
}

.transition_label {
  float: left;
  padding-top: 2px;
  width: 50px;
  margin-left: 2px;
  color: #fff;
  font-weight: bold;
}

/*
 * Timeline object Animations
 */
.timeline_obj.ng-enter,
.timeline_obj.ng-leave {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.timeline_obj.ng-enter,
.timeline_obj.ng-leave.ng-leave-active {
  opacity: 0;
}

.timeline_obj.ng-leave,
.timeline_obj.ng-enter.ng-enter-active {
  opacity: 1;
}

/*
 * Timeline object outlines (borders) change color to indicate state
 */
/* Regular unselected border, semi-transparent until hover */
.timeline_obj > .tl-border {
  border-color: #4b92ada8;
}

/* Selected item border, semi-transparent unless hovered */
.ui-selected > .tl-border {
  border-color: #ff0000a8;
}

/* Border while selecting, will always be in :hover state so
 * no point in defining separate states */
.ui-selecting > .tl-border {
  border-color: #ffff00ff;
}

/* Hover states for the above */
.timeline_obj:hover > .tl-border {
  border-color: #4b92adff;
}

.ui-selected:hover > .tl-border {
  border-color: #ff0000ff;
}

/* XXX: The idea here is to raise the invisible resize handles
 * for selected items to a higher z-index than other objects
 * on the timeline, especially other handles (they start at a
 * z-index of only 90), giving the selected items drag priority.
 *
 * Problem is: It doesn't WORK.
 *
.timeline_obj.ui-selected .ui-resizable-handle {
  z-index: 9500 !important;
}
*/
/* Snapping / snapline */
.snapping-line {
  z-index: 9999;
  position: absolute;
  height: 316px;
  top: 0;
  width: 1px;
  background-color: #32b7ea;
  opacity: 0.75;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

/* Snap line Animations */
.snapping-line.ng-hide-add {
  display: block !important;
}

.snapping-line.ng-hide-remove {
  display: block !important;
  opacity: 0;
}

.snapping-line.ng-hide-remove.ng-hide-remove-active {
  opacity: 0.75;
}

.snapping-line.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

/* Overspecify to override all other cursor: styling */
.razor_cursor,
body.razor_cursor #track-container {
  cursor:
    url(../images/razor_cursor1.svg) 0 12,
    url(../images/razor_cursor1.png) 0 12,
    default;
}

body.razor_cursor div.timeline_obj:hover {
  cursor:
    url(../images/razor_cursor2.svg) 0 12,
    url(../images/razor_cursor2.png) 0 12,
    default;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 0.9em;
  height: 0.9em;
}

::-webkit-scrollbar-thumb {
  background-color: #4b92ad;
  border-radius: 0.45em;
}

::-webkit-scrollbar-track {
  background: #000000;
  box-shadow: inset 0 0 0.6em rgba(75, 196, 233, 1.0);
  border-radius: 0.45em;
}

::-webkit-scrollbar-corner {
  background: none;
}

.debug input,
.debug button {
  vertical-align: baseline;
}
