html {
    height: 100%;
}
body { 
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
	overflow: hidden; /* prevent document scrollbars (the timeline handles it's own overflow) */
	-webkit-user-select: none;
	line-height: 10px;
}

/* General */
.cleared { height:0px; clear:both;}

.ui-selectable-helper{
  position:absolute;
  z-index:9998;
  border:1px solid #2a82da;
  background-color: #2a82da;
  opacity: 0.4;
} 

img {
    max-width: none;
}

/* Ruler */
#scrolling_ruler { overflow: hidden; position: relative;line-height: 4px; }
#scrolling_tracks { height: 316px; overflow: scroll; position: relative; }
#ruler_label { height: 39px; width: 140px; float: left; margin-bottom: 4px; }
#ruler_ticks { background-color:#000; }
#ruler_time { font-family: Sans; font-size: 13pt; color: #c8c8c8; padding-top: 14px; padding-left: 40px;}
#progress_container {margin-left:140px; overflow: hidden; height: 13px;}
.drag_cursor { cursor: move; }

/* Tracks */
#track_controls { width: 140px; position: relative; float: left; height: 316px; overflow: hidden;}
.track_label { padding-top: 2px; padding-left: 2px; }
.track_name { width: 130px; height: 70px; font-family: Sans; color: #fff; font-size: 9pt; padding-left: 4px; margin-left: 5px; margin-bottom: 8px; background-color: #000; border: 1px solid #4B92AD; border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.track { height: 70px; background-color: #000; margin-bottom: 8px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,50,50,1)), color-stop(100%,rgba(6,6,6,1))); border-top: 1px solid #4b92ad; border-bottom: 1px solid #4b92ad; }

/* Playhead */
.playhead-line { z-index: 9998; position: absolute; height:316px; top:0px; margin-left: 8px; width:1px; background-color:#ff0024; opacity:1;}
.playhead-line-small { z-index: 9999; position: absolute; height:20px; top:32px;; margin-left: 12px; width:1px; background-color:#ff0024; opacity:1;}
.playhead-top { z-index: 9999; position: absolute; margin-left: -4px; margin-top: 12px; width:25px; height:32px; background-image: url(../images/play_head.png); opacity:1;cursor:pointer;}
.marker {position:absolute; top:30px;}

/* Clips */
.clip_top {}
.clip_menu {float:left;margin-top:4px;margin-left:4px;margin-right:4px;width:12px;height:12px;background-image: url(../images/menu.png);}
.clip_label {float:left; padding-top: 2px; width:50px; margin-left: 2px; color:#fff;font-weight:bold;}
.clip_effects {border:1px solid #000; text-align:center; width:20px; font-size:14px; padding:1px; font-weight:bold; float:left; margin-left:2px; margin-right:2px; margin-top:2px; cursor:default; background: rgba(54, 25, 25, .2); overflow:hidden;line-height:15px;height:15px;border-top-left-radius: 6px; border-bottom-left-radius: 6px;border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.effect_icon {margin-left:1px;margin-right:1px;}

.clip { z-index:5000; color: #fff; min-width:0px; height: 64px; position: absolute; margin-top:2px; left: 100px; font-family: Sans; font-size: 9pt; background-color: #ef7f00; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,82,82,1)), color-stop(100%,rgba(34,38,40,1))); border-radius: 8px; border: 1px solid #4b92ad; border-left: 2px solid #4b92ad; border-right: 2px solid #4b92ad; }
.left_edge_stop { border-left: 2px solid #4b92ad; }
.right_edge_stop { border-right: 2px solid #4b92ad; }
.highlight_clip { border-color: #32b7ea; }
.ui-selecting { border-left: 2px solid yellow!important; border-right: 2px solid yellow!important; }
.ui-selected { border-left: 2px solid red!important; border-right: 2px solid red!important; }
.thumb {margin-left:10px; width: 66px; height: 46px;}
.thumb-start { float:left; }
.thumb-end {float:right; }
.audio {}
.thumb-container { display:none; margin-top:-18px; }
.audio-container { display:none; margin-top:-18px; background-color:#000;height:46px;border-top-left-radius: 4px; border-bottom-left-radius: 4px;border-top-right-radius: 4px; border-bottom-right-radius: 4px;}

/* Clip Animations */
.clip.ng-enter,
.clip.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.4s linear all;
}

.clip.ng-enter,
.clip.ng-leave.ng-leave-active {
  opacity:0;
}
.clip.ng-leave,
.clip.ng-enter.ng-enter-active {
  opacity:1;
}

/* Transitions */
.transition_top {}
.transition { z-index:8000; color: #fff; min-width:0px; height: 64px; position: absolute; margin-top:2px; left: 100px; font-family: Sans; font-size: 9pt; background-color: #0192c; background: -webkit-linear-gradient(top, #0192c1 0%,#3fa1bf 100%); border-radius: 8px; border: 1px solid #0192c1; border-left: 2px solid #0192c1; border-right: 2px solid #0192c1; background-image: url(../images/transition.png); background-repeat: no-repeat; background-position: center; background-size: 100% 66px; opacity:0.75; }
.transition_menu {float:left;margin-top:4px;margin-left:4px;margin-right:4px;width:12px;height:12px;background-image: url(../images/menu.png);}
.transition_label {float:left; padding-top: 2px; width:50px; margin-left: 2px; color:#fff;font-weight:bold;}
.highlight_transition { border-color: #32b7ea; }

/* Transitions Animations */
.transition.ng-enter,
.transition.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}

.transition.ng-enter,
.transition.ng-leave.ng-leave-active {
  opacity:0;
}
.transition.ng-leave,
.transition.ng-enter.ng-enter-active {
  opacity:1;
}

/* Snapping / snapline */
.snapping-line { z-index: 9999; position: absolute; height:316px; top:0px; width:1px; background-color:#32b7ea; opacity:0.75; -webkit-transition: 0.3s linear all; }

/* Snap line Animations */
.snapping-line.ng-hide-add { display: block !important; }
.snapping-line.ng-hide-remove { display: block !important; opacity: 0.0; }
.snapping-line.ng-hide-remove.ng-hide-remove-active { opacity:0.75; }
.snapping-line.ng-hide-add.ng-hide-add-active { opacity:0.0; }

/* Scrollbar style */
::-webkit-scrollbar {width: 6px; height: 6px; background: #000000; }
::-webkit-scrollbar-thumb { background-color: #4b92ad; -webkit-border-radius: 1ex; }
