name: CI Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      shell: bash
      run: |
        sudo add-apt-repository ppa:openshot.developers/libopenshot-daily
        sudo apt update
        sudo apt install libopenshot-audio-dev libopenshot-dev python3-openshot
        sudo apt install qttranslations5-l10n libssl-dev xvfb
        sudo apt install python3-pyqt5 python3-pyqt5.qtsvg python3-pyqt5.qtwebengine python3-pyqt5.qtopengl python3-zmq python3-xdg
        pip3 install setuptools wheel
        pip3 install cx_Freeze==6.1 distro defusedxml requests certifi chardet urllib3

    - name: Build Python package
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      run: python3 freeze.py build

    - name: Test
      shell: bash
      run: python3 ./src/tests/query_tests.py -platform offscreen

