# Github Actions workflow to generate documentation
# Uses the following shared task definitions:
# - (checkout, upload artifact) from Github
# - sphinx-action maintained by @ammaraskar
name: Sphinx build

# Controls when the action will run.
# Triggers the workflow on push or pull request events.
on:
- push
- pull_request

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps are a sequence of tasks that will be executed as part of the job
    steps:
    # Check out repository under $GITHUB_WORKSPACE
    - uses: actions/checkout@v2
    # Builds docs using sphinx
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "doc/"
    # Create an artifact out of the generated HTML
    - uses: actions/upload-artifact@v2.2.3
      with:
        name: UserGuideHTML
        path: "doc/_build/html/"
