<plist version="1.0">
<dict>
    <key>com.apple.security.get-task-allow</key>
    <true/>
    <!-- For Python ctypes to work. -->
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
    <!-- For loading unsigned dylib plugins. -->
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>
    <!-- For LLVM. -->
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
</dict>
</plist>
